@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #000 url('./assets/background.jpg');
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 70px auto 0;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  width: 100%;
  background: #FFF;
  margin-top: 30%;
  border-radius: 4px;
  padding: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 17px;
  color: #444;
  font-weight: bold;
  margin-top: 8px;
}

.content form input {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: #fff;
  background: rgb(3, 161, 82);
  font-size: 16px;
  cursor: pointer;
}

.content button.btn:hover {
  background: rgb(3, 114, 58);
}

.content p {
  font-size: 16px;
}